header {
    --brand-color: #00e0d0;
    --txt-color: #ffffff;
    --white-tr: #ffffff80;
    --txt-font: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    background-color: #313057;
  
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap : 20rem;
    font-size: 10px;
    font-weight: 600; 
    align-items: center;
    
    @media screen and (max-width: 660px){
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template : 1 / 1 / 1 / 1;
        gap : 1rem;
        .navigation nav ul {
            flex-direction: column; /* 세로로 배치 */
        align-items: center; /* 가운데 정렬 */
        }
    }
  }

    .main-logo {
        margin: 0.2rem 0.2rem 0.2rem 0.2rem;
        display: flex;
        width: 5px;
        gap: 10px;
        align-items: center;
        color: var(--brand-color);
        font-size: 20px;
        font-weight: 60;
        letter-spacing: 2px;
        
    }



  .navigation {
    nav {
        display: flex;

        ul {
            display : flex;
            list-style: none;
            padding: 0;

            li {
                margin-right: 10px;

                * {
                    color : var(--txt-color);
                    text-decoration: none;
                    
                }
                
                :hover {
                    color: var(--brand-color);
                }

                :last-child {
                    margin-right: 0;
                }
            }

        }

        }
    }