.hero {
    padding-block: 6rem;
    font-family: var(--txt-font);
    color: var(--txt-color);
    background-image: url("../images/bgk-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;

    & .hero__header {
        font-family: "Playfair Display";
        font-size: 2.2rem;
        letter-spacing: 1px;
    }

    & .divider {
        background-color: var(--brand-color);
    }
}

.hero__text {
    margin-block-start: 2rem;
    line-height: 1.8;
}

.hero__cta {
    margin-block-start: 2rem;
    background: none;
    border: 1px solid var(--brand-color);
    padding: 1rem 2rem;
    color: var(--brand-color);
    font-weight: 600;
    text-transform: uppercase;
}

.hero__glow-cta {
    position: relative;
    isolation: isolate;
    display: block;
    max-width: max-content;
    margin-block-start: 2rem;
    margin-inline: auto;
    font-size: 1.1rem;
    color: var(--brand-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: .2em solid var(--brand-color);
    padding: .9em 1.4em;
    border-radius: .4em;
    text-shadow:
        0 0 .2em #0002,
        0 0 .5em currentColor;
    box-shadow:
        inset 0 0 .5em 0 var(--brand-color),
        0 0 .5em var(--brand-color);
    outline: 0;

    &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--brand-color);
        transform:
        perspective(5em)
            rotateX(65deg);
        filter: blur(1.2em);
        opacity: .35;
        transition: opacity 150ms linear;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--brand-color);
        opacity: 0;
        transition: all 150ms linear;
    }
    
    &:hover,
    &:focus-visible {
        color: #313057;
        text-shadow: none;

        &:before {
            opacity: 1;
        }
        
        &::after {
            box-shadow: 0 0 2em .5em var(--brand-color);
            opacity: 1;
        }
    }
}